script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });

script(type='text/javascript', src='/static/js/MathJax.js?config=TeX-MML-AM_CHTML', async)
#script(type='text/javascript', src=url_for(theme.js) + '/mathjaxs.js', async)

